<h1>Vistas</h1>
<%= button_to 'Add new vista', new_admin_vista_path, class: 'btn btn-primary', method: :get %>
<br />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @vistas.keys.sort.each do |area| %>
    <% next if @vistas[area].empty? %>
    <tr>
      <th colspan="4">
        <%= area %>
      </th>
    </tr>
    <% @vistas[area].each do |vista| %>
      <tr>
        <td><%= vista['name'] %></td>
        <td><%= vista['geometry']['coordinates'][1] %></td>
        <td><%= vista['geometry']['coordinates'][0] %></td>
        <td>
          <%= link_to 'edit', admin_vista_path(vista['_id']) %>
          <%= link_to 'delete', admin_vista_path(vista['_id']), method: 'delete' %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
