<h1>Update vista</h1>
<%= form_tag('/admin/vistas', method: :put) do %>
  <%= hidden_field_tag(:id, @vista['_id'].to_s) %>
  <%= text_field_tag(:name, @vista['name'], placeholder: 'name', size: 40) %><br />
  Description:<br />
  <%= text_area_tag(:description, @vista['description'], size: '60x10') %><br />
  Directions:<br />
  <%= text_area_tag(:directions, @vista['directions'], size: '60x10') %><br />
  <%= submit_tag %>
<% end %>
