<h1>Update vista</h1>
<%= form_tag(admin_vista_path(@vista['_id']), method: :put) do %>
  <%= hidden_field_tag(:id, @vista['_id'].to_s) %>
  <%= text_field_tag(:name, @vista['name'], placeholder: 'name', size: 40) %><br />
  Description:<br />
  <%= text_area_tag(:description, @vista['description'], size: '60x10') %><br />
  Directions:<br />
  <%= text_area_tag(:directions, @vista['directions'], size: '60x10') %><br />
  Main photo:<br />
  <% @photos.each do |photo| %>
    <%= radio_button_tag(:default_photo, photo[:id]) %><img src="<%= photo[:thumb] %>" />
  <% end %>
  <%= submit_tag %>
<% end %>
